<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfrxyzJx2gsAyWu4ykviE0H_q3Qp1DUPM</string>
	<key>GCM_SENDER_ID</key>
	<string>488288355720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ml.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>qcube-firebase-overview-ml</string>
	<key>STORAGE_BUCKET</key>
	<string>qcube-firebase-overview-ml.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488288355720:ios:8cc3e34a58c98b26faa63d</string>
</dict>
</plist>